html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

li {
    position: relative;
    padding: 0.5em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.left {
    width: 25%;
    border-right: 1px solid black;
}

.right {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.toolbar {
    border-bottom: 1px solid black;
    padding: 0.5em;
}

.content {
    height: 100%;
    outline: none;
}

.tree {
    padding: 0.5em;
    margin: 0;
    list-style: none;
    outline: none;
}

.selected {
    background-color: cornflowerblue;
    font-weight: 600;
}

.arrow-right {
    position: absolute;
    top: 11px;
    right: 2px;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid black;
}

.arrow-down {
    position: absolute;
    right: 2px;
    top: 14px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid black;
}
